.assorted_products {
    margin: 5rem auto;
    display: flex;
    width: 100%;
    &_wrapper {
        display: inherit;
        width: 100%;
        &_container {
            width: 100%;
            display: inherit;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &_heading {
                font-size: 3rem;
                text-transform: uppercase;
                margin: 2rem auto;
            }
            &_ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                width: 87%;
                place-content: center;
                place-items: center;
                list-style: none;
                grid-row-gap: 7rem;
                grid-column-gap: 3rem;
                margin: 5rem 0;
                &_li {
                    width: 100%;
                    text-align: center;
                    box-shadow: 0px 3px 3px #85b64f;
                    border-radius: 3rem;
                    padding: 0rem 0rem 1.3rem 0rem;
                    margin-top: 3rem;
                    &_img {
                        width: 69%;
                        height: 18rem;
                        margin: 0 auto;
                        border-radius: 3rem;
                        border: 8px solid $color_theme;
                        margin-top: -6rem;
                    }
                    &_items {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        width: 80%;
                        place-content: center;
                        margin: 0 auto;
                        & span {
                            font-size: 1.3rem;
                        }
                    }
                    &_name {
                        margin: 1rem 0;
                        font-size: 1.4rem;
                        text-transform: capitalize;
                    }
                    &_btns {
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        margin: 1rem auto;
                        margin-bottom: 0;
                        & button {
                            border: none;
                            background-color: unset;
                        }
                        &_price {
                            border: 1px solid $color_theme !important;
                            font-size: 1.4rem;
                            font-weight: bold;
                            color: #84b64f;
                            padding: 0.3rem 1rem;
                            border-radius: 15px;
                        }
                        &_buy {
                            background-color: $color_theme !important;
                            border-radius: 50%;
                            color: $color_white !important;
                            box-shadow: 0px 2px 4px #537232;
                            height: 3rem;
                            width: 3rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            & svg {
                                fill: $color_white
                            }
                        }
                    }
                }
            }
        }
    }
}

#svg {
    // background-color: red;
}

.path-0 {
    animation: pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-0 {
    0% {
        d: path("M 0,400 C 0,400 0,133 0,133 C 194,150.86666666666667 388,168.73333333333335 533,163 C 678,157.26666666666665 774,127.93333333333332 917,119 C 1060,110.06666666666668 1250,121.53333333333333 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    25% {
        d: path("M 0,400 C 0,400 0,133 0,133 C 192.40000000000003,143 384.80000000000007,153 560,145 C 735.1999999999999,137 893.2,111.00000000000001 1037,106 C 1180.8,100.99999999999999 1310.4,117 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    50% {
        d: path("M 0,400 C 0,400 0,133 0,133 C 120.80000000000001,155.93333333333334 241.60000000000002,178.86666666666665 394,183 C 546.4,187.13333333333335 730.4000000000001,172.46666666666667 910,161 C 1089.6,149.53333333333333 1264.8,141.26666666666665 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    75% {
        d: path("M 0,400 C 0,400 0,133 0,133 C 200.13333333333333,153.8 400.26666666666665,174.6 556,169 C 711.7333333333333,163.4 823.0666666666668,131.4 963,121 C 1102.9333333333332,110.6 1271.4666666666667,121.8 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
    100% {
        d: path("M 0,400 C 0,400 0,133 0,133 C 194,150.86666666666667 388,168.73333333333335 533,163 C 678,157.26666666666665 774,127.93333333333332 917,119 C 1060,110.06666666666668 1250,121.53333333333333 1440,133 C 1440,133 1440,400 1440,400 Z");
    }
}

.path-1 {
    animation: pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes pathAnim-1 {
    0% {
        d: path("M 0,400 C 0,400 0,266 0,266 C 140.66666666666669,279.4666666666667 281.33333333333337,292.93333333333334 445,290 C 608.6666666666666,287.06666666666666 795.3333333333333,267.73333333333335 965,261 C 1134.6666666666667,254.26666666666662 1287.3333333333335,260.1333333333333 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    25% {
        d: path("M 0,400 C 0,400 0,266 0,266 C 165.59999999999997,268 331.19999999999993,270 486,279 C 640.8000000000001,288 784.8,304 942,303 C 1099.2,302 1269.6,284 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    50% {
        d: path("M 0,400 C 0,400 0,266 0,266 C 132.2666666666667,247.20000000000002 264.5333333333334,228.40000000000003 412,237 C 559.4666666666666,245.59999999999997 722.1333333333332,281.59999999999997 896,291 C 1069.8666666666668,300.40000000000003 1254.9333333333334,283.20000000000005 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    75% {
        d: path("M 0,400 C 0,400 0,266 0,266 C 205.7333333333333,293.3333333333333 411.4666666666666,320.66666666666663 548,313 C 684.5333333333334,305.33333333333337 751.8666666666668,262.66666666666663 889,249 C 1026.1333333333332,235.33333333333334 1233.0666666666666,250.66666666666669 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
    100% {
        d: path("M 0,400 C 0,400 0,266 0,266 C 140.66666666666669,279.4666666666667 281.33333333333337,292.93333333333334 445,290 C 608.6666666666666,287.06666666666666 795.3333333333333,267.73333333333335 965,261 C 1134.6666666666667,254.26666666666662 1287.3333333333335,260.1333333333333 1440,266 C 1440,266 1440,400 1440,400 Z");
    }
}

.right-bar {
    animation: rightBarAnim 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rightBarAnim {
    0% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 90.07142857142858,344.32142857142856 180.14285714285717,338.64285714285717 314,356 C 447.85714285714283,373.35714285714283 625.5,413.75 760,416 C 894.5,418.25 985.8571428571429,382.35714285714283 1092,365 C 1198.142857142857,347.64285714285717 1319.0714285714284,348.82142857142856 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    25% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 76.07142857142858,360.32142857142856 152.14285714285717,370.64285714285717 296,366 C 439.85714285714283,361.35714285714283 651.5,341.75 780,322 C 908.5,302.25 953.8571428571429,282.35714285714283 1050,287 C 1146.142857142857,291.64285714285717 1293.0714285714284,320.82142857142856 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    50% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 126.64285714285714,371.2142857142857 253.28571428571428,392.42857142857144 374,417 C 494.7142857142857,441.57142857142856 609.5,469.50000000000006 734,448 C 858.5,426.49999999999994 992.7142857142858,355.57142857142856 1112,331 C 1231.2857142857142,306.42857142857144 1335.642857142857,328.2142857142857 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    75% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 105.60714285714286,289.32142857142856 211.21428571428572,228.64285714285714 353,227 C 494.7857142857143,225.35714285714286 672.7500000000001,282.75 782,341 C 891.2499999999999,399.25 931.7857142857142,458.35714285714283 1030,460 C 1128.2142857142858,461.64285714285717 1284.107142857143,405.82142857142856 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
    100% {
        d: path("M 0,700 C 0,700 0,350 0,350 C 90.07142857142858,344.32142857142856 180.14285714285717,338.64285714285717 314,356 C 447.85714285714283,373.35714285714283 625.5,413.75 760,416 C 894.5,418.25 985.8571428571429,382.35714285714283 1092,365 C 1198.142857142857,347.64285714285717 1319.0714285714284,348.82142857142856 1440,350 C 1440,350 1440,700 1440,700 Z");
    }
}